:root {
    --primary: #5e17eb;
    --secondary: #4E51A2;
    --light: #f8f9fa;
    --dark: #191919;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
}

img {
    max-width: 100%;
    height: auto;
}